.filteredCard{
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 10px;
    position: relative;;
}

.filteredCard__img{
    width:160px;
    height:200px;
    border-radius: 3px;
}

.filteredCard__p2, .filteredCard__p3{
    margin-top: 4px;
}

.filteredCard__p1{
    margin-top: 16px;
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.filteredCard__p2{
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.oldPrice{
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 300;
}

.newPrice{
    font-size: 12px;
    font-weight: 300;
    color: #ACB9FF;
}

.filteredCard__p3{
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.checked{
    color: orange;
    margin: 0px 2px;
}

.like{
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.product{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 62%;
    color: white;
    background-color: #8394EC;
    opacity: 0.8;
    padding: 5px 0px;
    visibility: hidden;
}
.filteredCard:hover .product{
    visibility: visible;
}

@media  screen and (max-width:600px) {
    .filteredCard{
        width: 120px;
    }
    .filteredCard__img{
        width:120px;
        height:157px;
    }
}