.filteredCard{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px 25px;
    position: relative;;
}

.filteredCard__img{
    width:200px;
    height:240px;
    border-radius: 3px;
}

.filteredCard__p2, .filteredCard__p3{
    margin-top: 4px;
}

.filteredCard__p1{
    margin-top: 16px;
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.filteredCard__p2{
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.oldPrice{
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 300;
}

.newPrice{
    font-size: 12px;
    font-weight: 300;
    color: #ACB9FF;
}

.filteredCard__p3{
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
}

.checked{
    color: #FDD33D;
    margin: 0px 2px;
}

.like{
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.product{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    color: white;
    background-color: #8394EC;
    opacity: 0.8;
    padding: 7px 0px;
    visibility: hidden;
}
.filteredCard:hover .product{
    visibility: visible;
}

@media  screen and (min-width:1180px) and (max-width:1300px) {
    .filteredCard{
        width: 170px;
    }
    .filteredCard__img{
        width:170px;
        height:210px;
    }
    .product{
        top:61%;
    }
}

@media  screen and (max-width:550px) {
    .filteredCards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}