.home{
    margin: 0px;
    height: 100vh;
    text-align: center;
    background-color: #E6E1E1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.home__logo{
    width: 75px;
    align-self: flex-end;
    margin: 35px 40px;
}
.home__section{
    align-self: center;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.home__searchBar{
    margin-top: 10px;
}
.home__dropDown{
    position: absolute;
    align-self: center;
    width: 65%
}
.home__img{
    margin-top: -10px;
    width: 100%;
}

@media screen and (max-width:600px) {
    .home__logo{
        width:50px;
        margin: 20px 15px;
    }
    .home__section{
        width: 90%;
        height: 350px;
        margin-top: 0px;
    }
    .home__dropDown{
        width: 90%;
    }
}
@media screen and (min-width: 600px) and (max-width:900px) {
    .home__logo{
        width:65px;
        margin: 25px 25px;
    }
    .home__section{
        width: 90%;
        margin-top: 40px;
    }
}



