.input{
    display: flex;
    margin: 0px auto;
    width: 75%;
    position: relative;
    align-items: center; /*vertically*/
}

.input__box{
    width: 100%;
    border-radius: 11px;
    padding: 12px 33px;
    font-size: 22px;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 1px black;
}

.icon{
    color: #AEA7B4;
    position: absolute;
    left: 92%;
}

@media  screen and (max-width:600px) {
    .input{
        width: 90%
    }
    .input__box{
        padding: 6px 15px;
    }
    .icon{
        left: 88%;
    }
}

@media  screen and (min-width:600px) and (max-width:900px) {
    .input{
        width: 90%
    }
    .input__box{
        padding-left: 25px;
    }
    .icon{
        left: 91%;
    }
}