.filteredCards {
    display: flex;
    flex-direction: column;
  }
.filterdCards__row1{
    display: flex;
    justify-content: center;
}
.filterdCards__row1{
    display: flex;
    justify-content: center;
}