.filteredCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* .filterdCards__row1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.filterdCards__row1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

@media screen and (min-width:750px) and (max-width:1000px) {
    .filteredCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media  screen and (max-width:750px) {
    .filteredCards{
        grid-template-columns: repeat(2, 1fr);
    }
}